@import "bourbon";
@import "vars.scss";

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1214px) {
	.head-menu{
		padding-left: 30px;
	}
	.phone{
		padding-left: 10px;
	}
	.client-dil{
		img{
			width: 100%;
		}
	}
}





@media only screen and (max-width : 1189px){
	.phone{
		padding-left: 0px;
	}
	.head-menu{
		padding-left: 18px;
	}
	.logo{
		padding-left: 20px;
	}

}
@media only screen and (max-width : 1140px){
	.logo{
		padding-left: 0;
	}
}




@media only screen and (max-width : 1120px){
	.head-menu{
		display: none;
	}
	.head-popup{
		float: right;
		margin-right: 20px;
	}
	body .toggle_mnu{
		display: block !important;
	}
	.phone{
		padding-left: 20%;
	}
}
@media only screen and (max-width : 1055px){

}
@media only screen and (max-width : 1050px){
	.head-inf h1{
		font-size:6.7vw;
	}
}
@media only screen and (max-width : 991px){
	.bgTop{
		padding-bottom: 30px;
	}
	.head-inf p{
		font-size:2.7vw;
	}
	.advantages{
		margin-top: 10px;
		text-align: center;
		li{
			padding-left: 0;
			padding-bottom: 30px;
			padding-top: 90px;
			&:after{
				left: 50%;
				margin-left: -24px;
			}
		}
	}

	.advantages a{
		float: none;
		margin-right: 0;
	}
	.form{
		float: none;
		margin-right: 0;
	}
	.forma{
		margin: 0 auto;
	}
	.advantages-item{
		margin-right: 0;
		margin-left: 0;
	}
	.advantages-item_r p{
		padding: 0;
	}
	body .advantages-item_m p{
		padding: 0;
	}
	.head-bottom h2{
		font-size: 7.3vw;
	}
	.head-bottom h2:after{
		left: 41%;
	}
	.head-bottom p{
		padding-bottom: 50px;
		font-size: 2.4vw;
	}
	.graf{
		padding: 0;
		text-align: center;
	}
	.choice-graf{
		margin: 0 auto;
		width: 100%;
	}
	.sky-zag{
		font-size: 7.3vw;
	}
	.star{
		background-size: cover;
	}
	.zag-amenities-height h3{
		font-size:8vw;
	}
	.all-amenities a{
		padding-right: 0;
	}
	.want-item{
		padding-right: 0;
	}
	.solutions .graf{
		padding-left: 0;
	}
	.img-solutions{
		padding-left: 0;
		margin: 0 auto;
		margin-bottom: 15px;
		text-align: center;
	}
	.table-item{
		font-size:2.1vw;
	}
	.zag-footer a:after{
		left: 42%;
	}
	.footer-contact span{
		padding: 0;
	}
	.footer-contact p{
		padding: 0;
	}
	.footer-form .forma {
		input{
			background-position: 15px;
		}
		textarea{
			max-width: unset;
			width: 82%;
			margin: 0 auto;
			margin-top: 13px;
		}
	}

	.footer-form .no-padding-left{
		padding-left: 15px;
	}
	body .item-pos{
		padding: 0 !important;
	}
	body .want-item{
		padding: 0 !important;
		margin: 20px auto;
	}
	.zag-footer a:after{
		display: block;
		margin: 10px auto;
		position: inherit;
		left: auto;
	}
	.zag-footer a{
		padding: 0;
	}
	.table-item{
		img{
			width: 15%;
		}
	}
	.footer-contact p{
		font-size:4vw;
	}
	.graf-btn{
		width: 100%;
	}
	.footer-form-left{
		text-align: center;
	}
	.footer-form-right{
		text-align: center;
	}
}
@media only screen and (max-width : 936px){
	.phone{
		padding-left: 10%;
	}
}
@media only screen and (max-width : 900px){
	 body .copirate p{
		float: none !important;
	}
	.copirate a{
		padding-left: 0;
	}
}
@media only screen and (max-width : 893px){

}
@media only screen and (max-width : 850px){
	.head-bottom h2:after{
		left: 39%;
	}
}
@media only screen and (max-width : 827px){
	.phone{
		padding-left: 5%;
	}
}


@media only screen and (max-width : 784px){
	.logo{
		float: none;
		text-align: center;
		margin: 0 auto;
	}
}
@media only screen and (max-width : 862px){
	.first-popup{
		max-width: 401px;
		img{
			display: none;
		}
		.forma{
			float: none;
		}
	}

}
@media only screen and (max-width : 784px){
	.head-inf{
		margin-top: 160px;
	}
}
@media only screen and (max-width : 777px){
	.production-slider{
		.lSSlideOuter{
			.lSSlideWrapper{
				li{
					height: 500px;
				}
			}
		}
	}

}
@media only screen and (max-width : 768px){

	.table-item br{
		display: none;
	}
}
@media only screen and (max-width : 723px){
	.head-inf h1{
		font-size:6.4vw;
	}
}
@media only screen and (max-width : 712px){
	.first-popup .forma{
		float: none;
		margin: 0 auto;
	}
	.first-popup{
		text-align: center ;
	}

}

@media only screen and (max-width : 705px){

}
@media only screen and (max-width : 700px){
	.head-bottom p{
		font-size:2.3vw;
	}
	.solutions-bg{
		padding-bottom: 132px;
	}
}

@media only screen and (max-width : 650px){
	.all-amenities{
		padding-top: 150px;
	}
	.head-bottom h2:after{
		left: 37%;
	}
	.zag-amenities h3{
		font-size: 10vw;
	}
	.sky-zag{
		margin-top: 35px;
		margin-bottom: 35px;
	}
}

@media only screen and (max-width : 600px){
	.head-inf{
		margin-top: 315px;
	}
	.phone{
		display: block;
		float: none;
		text-align: center;
		padding-left: 0;
	}
	.head-popup{
		float: none;
	}

	.toggle_mnu{
		float: none;
		margin: 0 auto;
		width: 90px;
		height: 70px;

	}
	.sandwich{
		width: 51px;
	}
	.head-inf h1{
		line-height: 55px;
	}

}
@media only screen and (max-width : 550px){
	.table-item{
		width: 100%;
		float: none;
		font-size: 20px;
	}
}
@media only screen and (max-width : 504px){
	.first-popup{
		margin-top: 64px;
		.forma p br{
			display: none;
		}
	}
	.first-popup .mfp-close{
		top: -44px;
		right: 0;
	}
}
@media only screen and (max-width : 500px){
	.footer-contact p{
		font-size:4.5vw;
	}
	.head-bottom p{
		font-size:3vw;
	}

}
@media only screen and (max-width : 450px){

}
@media only screen and (max-width : 460px){
	.head-inf h1{
		font-size:6vw;
	}
}
@media only screen and (max-width : 412px){
	.footer-form .forma {
		input{
			width: 94%;
			padding-left: 36px;
			padding-right: 34px;
		}
		textarea{
			width: 94%;
		}
	}
}
@media only screen and (max-width : 400px){
	.choice-graf{
		text-align: center;
	}
	.choice-graf p{
		float: none;
		padding: 0;
	}
	body .choice-graf tt{
		float: none !important;
		padding: 0;
	}
	.icon-nine:after{
		left: 15%;
		top:10px;
	}
	.icon-bol:after{
		left: 15%;
		top:10px;
	}
	.icon-stars:after{
		left: 15%;
		top:10px;
	}

}
@media only screen and (max-width : 380px){
	.icon-nine:after{
		left: 10%;
		top:10px;
	}
	.icon-bol:after{
		left: 10%;
		top:10px;
	}
	.icon-stars:after{
		left: 10%;
		top:10px;
	}
	.title-choice h3{
		font-size:7.6vw;
	}
}
@media only screen and (max-width : 359px){
	.head-inf p{
		font-size:3.7vw;
	}

}
@media only screen and (max-width : 350px){

}
@media only screen and (max-width : 320px){
	.footer-contact p{
		font-size:6vw;
	}
	.table-item{
		min-height: 300px;
	}
}