/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

.no-padding-left {
  padding-left: 0; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

.choice {
  overflow-x: hidden;
  position: relative; }
  .choice:before {
    position: absolute;
    content: "";
    top: -145px;
    left: 50%;
    width: 500%;
    height: 230px;
    margin-left: -250%;
    background: #282435;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg); }

.choice > div {
  position: relative;
  z-index: 2; }

.choice-popup {
  background-color: #fff;
  width: 92.2%;
  min-height: 470px;
  margin: 5px auto;
  padding: 16px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px; }

.title-choice {
  text-align: center; }
  .title-choice h3 {
    font-size: 36px;
    color: #282435;
    letter-spacing: -0.1px; }

.title-graf {
  font-size: 20px; }
  .title-graf span {
    color: #996699;
    padding-top: 14px;
    display: block; }
  .title-graf p {
    color: #000;
    min-height: 95px; }

.graf {
  padding-left: 15px; }

.graf-btn {
  width: 83%;
  display: block;
  font-weight: 700;
  font-size: 16px;
  background-color: #c732cb;
  margin-top: 24px;
  text-align: center;
  padding: 11px 20px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(34, 34, 34, 0.75);
  text-decoration: none; }
  .graf-btn:hover, .graf-btn:focus {
    background-color: #bd26bf;
    color: #fff;
    text-decoration: none; }

.choice-graf {
  width: 83%;
  background-color: #fff0ff;
  padding: 6px 0;
  min-height: 50px;
  font-weight: 500;
  line-height: 36px; }
  .choice-graf p {
    color: #000;
    font-size: 19px;
    float: left;
    padding-left: 40px;
    position: relative;
    letter-spacing: -1.3px; }
  .choice-graf tt {
    color: #a81ab3;
    font-size: 16px;
    font-weight: 800;
    padding-right: 23px;
    padding-top: 2px; }

.icon-nine:after {
  position: absolute;
  top: 8px;
  left: 8px;
  content: '';
  background-image: url("../img/icon-nine.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 24px; }

.icon-bol:after {
  position: absolute;
  top: 8px;
  left: 8px;
  content: '';
  background-image: url("../img/icon-bol.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px; }

.icon-stars:after {
  position: absolute;
  top: 8px;
  left: 8px;
  content: '';
  background-image: url("../img/icon-stars.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px; }

body .choice-graf_b {
  background-color: #fff; }

.choice-slider {
  margin-top: 23px;
  min-height: 334px !important; }

.choice-slider .lSSlideOuter {
  padding-left: 100px !important;
  padding-right: 5px !important;
  height: 334px; }
  .choice-slider .lSSlideOuter.vertical .lSGallery {
    left: 0;
    height: 334px !important;
    width: 83px !important;
    margin-top: 15px;
    right: auto; }
    .choice-slider .lSSlideOuter.vertical .lSGallery li {
      margin-bottom: 17px !important;
      height: 63px !important;
      width: 81px !important; }
    .choice-slider .lSSlideOuter.vertical .lSGallery img {
      height: 100%; }
  @media (max-width: 606px) {
    .choice-slider .lSSlideOuter {
      padding-left: 0px !important; }
      .choice-slider .lSSlideOuter.vertical .lSGallery {
        display: none; } }
  .choice-slider .lSSlideOuter .lSSlideWrapper {
    height: 334px !important; }
    .choice-slider .lSSlideOuter .lSSlideWrapper li {
      height: 334px !important;
      background-size: cover;
      background-position: center center; }

.last-choice {
  margin-bottom: 20px; }

.why {
  background-color: #f8fafa; }

.sky-zag {
  text-align: center;
  font-size: 72px;
  font-weight: 300;
  color: #333333;
  letter-spacing: 1.5px;
  position: relative;
  margin-top: 35px; }
  .sky-zag:after {
    display: block;
    margin: 30px auto;
    content: '';
    background-image: url("../img/star-f.png");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 508px;
    width: 100%;
    height: 9px; }

.positive-qualities {
  margin-top: 80px;
  margin-bottom: 56px; }

.item-pos {
  text-align: center;
  padding-right: 18px;
  padding-top: 18px;
  margin-bottom: 96px; }
  .item-pos p {
    font-size: 18px;
    color: #333333;
    line-height: 23px;
    padding-top: 50px;
    letter-spacing: 0.7px; }

.item-pos_t {
  padding-top: 10px;
  padding-right: 0px; }

.item-pos_h {
  padding-top: 0px;
  padding-right: 0px; }

.item-pos_f {
  padding-top: 11px;
  padding-right: 0px;
  padding-left: 24px; }

.item-pos_s {
  padding-top: 39px;
  padding-left: 39px; }
  .item-pos_s p {
    letter-spacing: -0.1px; }

.star {
  background-image: url("../img/bg-stars.jpg");
  background-repeat: no-repeat;
  background-position: center; }

.sky-zag-star {
  font-size: 54px;
  font-weight: 300;
  margin-top: 79px;
  letter-spacing: 1.5px;
  margin-bottom: 84px; }

.amenities {
  background-image: url("../img/bg-pip.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.amenities-se {
  background-image: url("../img/bg-se.jpg"); }

.amenities-in {
  background-image: url("../img/bg-che.jpg"); }

.amenities-mon {
  background-image: url("../img/bg-hen.jpg"); }

.all-amenities {
  text-align: center;
  color: #fff;
  padding-top: 305px;
  padding-bottom: 9px; }
  .all-amenities p {
    font-size: 20px;
    padding-top: 7px;
    letter-spacing: 1.2px; }
  .all-amenities .graf-btn {
    font-weight: 800;
    font-size: 16px;
    padding: 12px 34px;
    margin: 43px auto 100px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    max-width: 304px; }
  .all-amenities .scroll2id {
    display: inherit;
    margin-top: 146px;
    padding-right: 3px;
    margin-bottom: 30px; }

.zag-amenities {
  position: relative; }
  .zag-amenities:after {
    display: block;
    margin: 15px auto;
    margin-top: 43px;
    width: 173px;
    height: 11px;
    background-image: url("../img/star-p.png");
    content: ''; }
  .zag-amenities h3 {
    font-size: 72px;
    font-weight: 300;
    letter-spacing: 1.6px; }

.zag-amenities-height h3 {
  line-height: 70px; }

.production {
  text-align: center; }
  .production p {
    font-size: 20px;
    color: #333333;
    letter-spacing: 1.2px; }

.sky-zag-client {
  font-size: 54px;
  font-weight: 300;
  letter-spacing: 1.2px;
  margin-bottom: 72px;
  margin-top: 32px; }

.client-dil {
  text-align: center;
  padding-bottom: 85px; }

.production-slider {
  position: relative;
  width: 100%;
  padding-top: 50px; }
  .production-slider .lSSlideOuter .lSPager.lSGallery {
    margin: 0 auto;
    width: 100% !important;
    margin-bottom: 5px;
    position: relative;
    text-align: center; }
    .production-slider .lSSlideOuter .lSPager.lSGallery li {
      margin-right: 7.5px;
      margin-left: 7.5px;
      max-width: 176px !important;
      width: 100% !important;
      min-height: 160px;
      cursor: pointer;
      float: none;
      display: inline-block;
      -webkit-border-radius: 0;
      border-radius: 0;
      position: relative; }
      .production-slider .lSSlideOuter .lSPager.lSGallery li:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.4); }
      .production-slider .lSSlideOuter .lSPager.lSGallery li.active {
        -webkit-box-shadow: 0 3px 10px rgba(51, 0, 51, 0.5);
        box-shadow: 0 3px 10px rgba(51, 0, 51, 0.5); }
        .production-slider .lSSlideOuter .lSPager.lSGallery li.active:after {
          opacity: 0; }
      .production-slider .lSSlideOuter .lSPager.lSGallery li a {
        display: block;
        min-height: 160px; }
        .production-slider .lSSlideOuter .lSPager.lSGallery li a img {
          min-height: 160px; }
      @media only screen and (max-width: 1138px) {
        .production-slider .lSSlideOuter .lSPager.lSGallery li {
          min-height: unset; }
          .production-slider .lSSlideOuter .lSPager.lSGallery li a {
            min-height: unset;
            text-align: center; }
            .production-slider .lSSlideOuter .lSPager.lSGallery li a img {
              min-height: unset;
              height: 120px;
              margin: 0 auto; } }
      @media only screen and (max-width: 590px) {
        .production-slider .lSSlideOuter .lSPager.lSGallery li {
          width: auto !important; }
          .production-slider .lSSlideOuter .lSPager.lSGallery li a img {
            height: 60px; } }
  .production-slider .lSSlideOuter .lSSlideWrapper {
    padding-left: 0;
    min-height: unset !important; }
    .production-slider .lSSlideOuter .lSSlideWrapper .lightSlider li {
      height: 720px;
      background-position: center center; }
    .production-slider .lSSlideOuter .lSSlideWrapper .lSAction > a {
      background-image: none; }
    .production-slider .lSSlideOuter .lSSlideWrapper .lSAction > .lSNext {
      background-image: url("../img/slider-arrow.png");
      width: 32px;
      height: 61px;
      right: 70px; }
    .production-slider .lSSlideOuter .lSSlideWrapper .lSAction > .lSPrev {
      background-image: url("../img/slider-arrow1.png");
      width: 32px;
      height: 61px;
      left: 70px; }

.want-item {
  padding-top: 98px;
  text-align: center;
  padding-right: 10px; }
  .want-item p {
    font-size: 20px;
    color: #333333;
    padding-top: 30px;
    letter-spacing: 0.5px;
    line-height: 26px; }

.want-item1 {
  padding-top: 114px;
  padding-left: 16px; }
  .want-item1 p {
    padding-top: 44px; }

.want-item2 {
  padding-left: 36px; }

.but-want {
  text-align: center;
  padding-top: 79px; }

.want-popup {
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  background-color: #c732cb;
  margin: 24px auto;
  text-align: center;
  padding: 18px 44px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  letter-spacing: 0.5px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3); }
  .want-popup:hover, .want-popup:focus {
    background-color: #bd26bf;
    color: #fff;
    text-decoration: none; }

.sky-zag-solutions {
  margin-top: 122px;
  letter-spacing: 0.79px; }

.pad-sol {
  padding-top: 54px; }

.img-solutions {
  max-width: 600px;
  padding-left: 5px;
  text-align: right; }
  .img-solutions img {
    -webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.35);
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.35);
    width: 100%;
    max-width: 560px; }

.solutions-bg {
  background: #fff;
  background: url(../img/typical_bg.jpg) center 227px;
  padding-bottom: 223px; }

.solutions .title-graf span {
  font-size: 36px;
  color: #333333;
  padding-top: 0;
  line-height: 36px; }

.solutions .title-graf p {
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 5px;
  min-height: unset; }

.solutions .graf {
  padding-left: 52px; }

.graf-cost {
  font-size: 32px;
  color: #333333;
  padding-left: 5px; }

.pad-sol-left {
  padding-top: 108px; }

.solutions-left .graf {
  padding-left: 45px;
  background-color: #fff;
  margin-top: 12px; }

.solutions-left .img-solutions {
  padding-left: 0;
  padding-right: 5px;
  text-align: left; }

.pad-city {
  padding-top: 106px; }

.sky-zag-emotions {
  letter-spacing: 0.6px;
  margin-bottom: 34px; }

.emotions-table {
  max-width: 1136px;
  margin: 0 auto;
  padding-bottom: 70px; }

.table-item {
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 14px;
  float: left;
  color: #fff;
  font-size: 26px;
  line-height: 37px;
  letter-spacing: 1.6px; }
  .table-item span {
    display: block;
    width: 77px;
    height: 6px;
    background-color: #fff;
    margin-top: 16px;
    margin-bottom: 46px; }
  @media (max-width: 1144px) {
    .table-item br {
      display: none; } }

.table-item_1 {
  width: 41%;
  min-height: 280px;
  background-color: #9b59b6;
  background-image: url("../img/yzor.png");
  background-position: right top;
  background-repeat: no-repeat; }

.table-item_2 {
  width: 59%;
  min-height: 280px;
  background-color: #34495e;
  background-image: url("../img/yzor1.jpg");
  background-repeat: no-repeat; }

.table-item_3 {
  background-color: #1abc9c;
  width: 59.2%;
  min-height: 280px;
  background-image: url("../img/yzor2.png");
  background-repeat: no-repeat; }
  .table-item_3 img {
    float: right;
    padding-top: 20px; }

.table-item_4 {
  background-image: url("../img/yzor3.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #9854b4;
  position: relative;
  float: right;
  min-height: 560px;
  width: 40.8%; }
  .table-item_4 img {
    position: absolute;
    bottom: 25px; }

.table-item_5 {
  background-image: url("../img/yzor4.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #3498db;
  position: relative;
  width: 59.2%;
  min-height: 280px; }
  .table-item_5 img {
    position: absolute;
    bottom: 25px; }

.table-item_6 {
  background-color: #2c3e50;
  background-image: url("../img/yzor5.png");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  width: 100%;
  min-height: 280px;
  margin-bottom: 70px; }
  .table-item_6 img {
    position: absolute;
    bottom: 25px; }

.footer {
  background-image: url("../img/bg-space.jpg");
  background-size: cover; }

.zag-footer {
  font-size: 54px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding-top: 154px;
  padding-bottom: 25px; }
  .zag-footer h2 {
    position: relative;
    letter-spacing: 0.7px; }
    .zag-footer h2:after {
      display: block;
      margin: 15px auto;
      content: '';
      background-image: url("../img/star-p.png");
      background-repeat: no-repeat;
      width: 173px;
      height: 11px; }
  .zag-footer a {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
    position: relative;
    display: block;
    padding-top: 13px;
    padding-left: 33px;
    -webkit-text-decoration-style: dashed;
    text-decoration-style: dashed; }
    .zag-footer a:hover {
      text-decoration: none; }
    .zag-footer a:after {
      position: absolute;
      content: '';
      left: 44%;
      top: 16px;
      background-image: url("../img/place.png");
      background-repeat: no-repeat;
      width: 14px;
      height: 20px; }
  .zag-footer p {
    font-size: 20px;
    padding-top: 43px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }

.footer-contact {
  text-align: center;
  color: #fff; }
  .footer-contact span {
    display: block;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 23px;
    letter-spacing: 2.3px; }
  .footer-contact p {
    font-size: 36px;
    padding-top: 15px;
    padding-left: 93px;
    letter-spacing: 1.4px; }

.contact-right span {
  display: block;
  font-size: 20px;
  padding-right: 192px;
  letter-spacing: 2.3px; }

.contact-right p {
  font-size: 36px;
  padding-left: 0;
  padding-right: 92px; }

.footer-form {
  float: none;
  margin-right: 0; }

.footer-form-left {
  text-align: right; }

.footer-form-right {
  text-align: left; }

.footer-form .forma {
  max-width: 756px;
  margin: 0 auto;
  padding: 21px 6px; }
  .footer-form .forma input {
    padding: 8px 53px; }
  .footer-form .forma h2 {
    line-height: 37px;
    margin-top: 25px; }
  .footer-form .forma p {
    padding-top: 0;
    margin-bottom: 22px; }
  .footer-form .forma textarea {
    max-width: 306px;
    min-height: 190px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin-top: 12px;
    width: 100%;
    background: #fff url("../img/message.png") no-repeat 16px 17px;
    color: #333333;
    padding: 10px;
    text-align: left;
    text-indent: 27px;
    resize: none; }
  .footer-form .forma button {
    max-width: 304px; }

.footer-form .name-form {
  background-position: 33px; }

.footer-form .phone-form {
  background-position: 32px;
  color: #df8fdf; }

.footer-form .email-form {
  background-image: url(../img/email.png);
  background-repeat: no-repeat;
  background-position: 33px; }

.footer-social {
  padding-top: 100px;
  text-align: center; }
  .footer-social li {
    display: inline-block; }
  .footer-social a {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 14px;
    margin-top: 5px;
    margin-right: 13px; }

.vk {
  background-image: url("../img/vk.png");
  background-repeat: no-repeat; }

.fb {
  background-image: url("../img/fb.png");
  background-repeat: no-repeat; }

.copirate {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding-bottom: 20px; }
  .copirate p {
    padding-top: 22px;
    padding-left: 47px;
    padding-right: 52px;
    letter-spacing: 0.8px; }
  .copirate a {
    color: #fff;
    display: inline-block;
    padding-top: 22px;
    letter-spacing: 1px;
    border-bottom: 1px dashed; }
    .copirate a:hover {
      text-decoration: none;
      border-bottom: 1px solid transparent; }

.first-popup {
  max-width: 769px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #d050d0; }
  .first-popup img {
    max-width: 366px;
    width: 100%;
    min-height: 454px; }
  .first-popup .mfp-close {
    width: 24px;
    height: 23px;
    background-image: url(../img/popup-close.png);
    font-size: 0;
    top: -30px;
    right: -30px;
    opacity: 1;
    -webkit-transition: .2s all;
    transition: .2s all; }
  .first-popup .mfp-close:active {
    top: -30px; }
  .first-popup .mfp-close:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.first-popup .forma {
  background-color: #fff;
  float: left;
  border: none;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.65);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.65); }
  .first-popup .forma p {
    color: #333333;
    padding-top: 0; }
  .first-popup .forma h2 {
    color: #333333;
    position: relative;
    font-weight: 400; }
    .first-popup .forma h2:after {
      display: block;
      margin: 14px auto;
      margin-top: 20px;
      content: '';
      background-image: url("../img/star-form.png");
      width: 141px;
      height: 9px;
      bottom: 0; }
  .first-popup .forma input {
    -webkit-box-shadow: 0 0 10px rgba(205, 55, 205, 0.5);
    box-shadow: 0 0 10px rgba(205, 55, 205, 0.5); }

.second-popup {
  max-width: 401px; }
  .second-popup .forma {
    float: none; }

#ThankYou .forma {
  padding: 35px 30px; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1214px) {
  .head-menu {
    padding-left: 30px; }
  .phone {
    padding-left: 10px; }
  .client-dil img {
    width: 100%; } }

@media only screen and (max-width: 1189px) {
  .phone {
    padding-left: 0px; }
  .head-menu {
    padding-left: 18px; }
  .logo {
    padding-left: 20px; } }

@media only screen and (max-width: 1140px) {
  .logo {
    padding-left: 0; } }

@media only screen and (max-width: 1120px) {
  .head-menu {
    display: none; }
  .head-popup {
    float: right;
    margin-right: 20px; }
  body .toggle_mnu {
    display: block !important; }
  .phone {
    padding-left: 20%; } }

@media only screen and (max-width: 1050px) {
  .head-inf h1 {
    font-size: 6.7vw; } }

@media only screen and (max-width: 991px) {
  .bgTop {
    padding-bottom: 30px; }
  .head-inf p {
    font-size: 2.7vw; }
  .advantages {
    margin-top: 10px;
    text-align: center; }
    .advantages li {
      padding-left: 0;
      padding-bottom: 30px;
      padding-top: 90px; }
      .advantages li:after {
        left: 50%;
        margin-left: -24px; }
  .advantages a {
    float: none;
    margin-right: 0; }
  .form {
    float: none;
    margin-right: 0; }
  .forma {
    margin: 0 auto; }
  .advantages-item {
    margin-right: 0;
    margin-left: 0; }
  .advantages-item_r p {
    padding: 0; }
  body .advantages-item_m p {
    padding: 0; }
  .head-bottom h2 {
    font-size: 7.3vw; }
  .head-bottom h2:after {
    left: 41%; }
  .head-bottom p {
    padding-bottom: 50px;
    font-size: 2.4vw; }
  .graf {
    padding: 0;
    text-align: center; }
  .choice-graf {
    margin: 0 auto;
    width: 100%; }
  .sky-zag {
    font-size: 7.3vw; }
  .star {
    background-size: cover; }
  .zag-amenities-height h3 {
    font-size: 8vw; }
  .all-amenities a {
    padding-right: 0; }
  .want-item {
    padding-right: 0; }
  .solutions .graf {
    padding-left: 0; }
  .img-solutions {
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center; }
  .table-item {
    font-size: 2.1vw; }
  .zag-footer a:after {
    left: 42%; }
  .footer-contact span {
    padding: 0; }
  .footer-contact p {
    padding: 0; }
  .footer-form .forma input {
    background-position: 15px; }
  .footer-form .forma textarea {
    max-width: unset;
    width: 82%;
    margin: 0 auto;
    margin-top: 13px; }
  .footer-form .no-padding-left {
    padding-left: 15px; }
  body .item-pos {
    padding: 0 !important; }
  body .want-item {
    padding: 0 !important;
    margin: 20px auto; }
  .zag-footer a:after {
    display: block;
    margin: 10px auto;
    position: inherit;
    left: auto; }
  .zag-footer a {
    padding: 0; }
  .table-item img {
    width: 15%; }
  .footer-contact p {
    font-size: 4vw; }
  .graf-btn {
    width: 100%; }
  .footer-form-left {
    text-align: center; }
  .footer-form-right {
    text-align: center; } }

@media only screen and (max-width: 936px) {
  .phone {
    padding-left: 10%; } }

@media only screen and (max-width: 900px) {
  body .copirate p {
    float: none !important; }
  .copirate a {
    padding-left: 0; } }

@media only screen and (max-width: 850px) {
  .head-bottom h2:after {
    left: 39%; } }

@media only screen and (max-width: 827px) {
  .phone {
    padding-left: 5%; } }

@media only screen and (max-width: 784px) {
  .logo {
    float: none;
    text-align: center;
    margin: 0 auto; } }

@media only screen and (max-width: 862px) {
  .first-popup {
    max-width: 401px; }
    .first-popup img {
      display: none; }
    .first-popup .forma {
      float: none; } }

@media only screen and (max-width: 784px) {
  .head-inf {
    margin-top: 160px; } }

@media only screen and (max-width: 777px) {
  .production-slider .lSSlideOuter .lSSlideWrapper li {
    height: 500px; } }

@media only screen and (max-width: 768px) {
  .table-item br {
    display: none; } }

@media only screen and (max-width: 723px) {
  .head-inf h1 {
    font-size: 6.4vw; } }

@media only screen and (max-width: 712px) {
  .first-popup .forma {
    float: none;
    margin: 0 auto; }
  .first-popup {
    text-align: center; } }

@media only screen and (max-width: 700px) {
  .head-bottom p {
    font-size: 2.3vw; }
  .solutions-bg {
    padding-bottom: 132px; } }

@media only screen and (max-width: 650px) {
  .all-amenities {
    padding-top: 150px; }
  .head-bottom h2:after {
    left: 37%; }
  .zag-amenities h3 {
    font-size: 10vw; }
  .sky-zag {
    margin-top: 35px;
    margin-bottom: 35px; } }

@media only screen and (max-width: 600px) {
  .top {
    position: absolute; }
  .bgTop {
    background-color: transparent; }
  .head-inf {
    margin-top: 315px; }
  .phone {
    display: block;
    float: none;
    text-align: center;
    padding-left: 0; }
  .head-popup {
    float: none; }
  .toggle_mnu {
    float: none;
    margin: 0 auto;
    width: 90px;
    height: 70px; }
  .sandwich {
    width: 51px; }
  .head-inf h1 {
    line-height: 55px; } }

@media only screen and (max-width: 550px) {
  .table-item {
    width: 100%;
    float: none;
    font-size: 20px; } }

@media only screen and (max-width: 504px) {
  .first-popup {
    margin-top: 64px; }
    .first-popup .forma p br {
      display: none; }
  .first-popup .mfp-close {
    top: -44px;
    right: 0; } }

@media only screen and (max-width: 500px) {
  .footer-contact p {
    font-size: 4.5vw; }
  .head-bottom p {
    font-size: 3vw; } }

@media only screen and (max-width: 460px) {
  .head-inf h1 {
    font-size: 6vw; } }

@media only screen and (max-width: 412px) {
  .footer-form .forma input {
    width: 94%;
    padding-left: 36px;
    padding-right: 34px; }
  .footer-form .forma textarea {
    width: 94%; } }

@media only screen and (max-width: 400px) {
  .choice-graf {
    text-align: center; }
  .choice-graf p {
    float: none;
    padding: 0; }
  body .choice-graf tt {
    float: none !important;
    padding: 0; }
  .icon-nine:after {
    left: 15%;
    top: 10px; }
  .icon-bol:after {
    left: 15%;
    top: 10px; }
  .icon-stars:after {
    left: 15%;
    top: 10px; } }

@media only screen and (max-width: 380px) {
  .icon-nine:after {
    left: 10%;
    top: 10px; }
  .icon-bol:after {
    left: 10%;
    top: 10px; }
  .icon-stars:after {
    left: 10%;
    top: 10px; }
  .title-choice h3 {
    font-size: 7.6vw; } }

@media only screen and (max-width: 359px) {
  .head-inf p {
    font-size: 3.7vw; } }

@media only screen and (max-width: 320px) {
  .footer-contact p {
    font-size: 6vw; }
  .table-item {
    min-height: 300px; } }
