*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.choice {
  background-image: url("../img/2-section.jpg");
  background-repeat: no-repeat;
  background-position: center top; }

.choice-popup {
  background-color: #fff;
  width: 92.2%;
  min-height: 470px;
  margin: 5px auto;
  padding: 16px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px; }

.title-choice {
  text-align: center; }
  .title-choice h3 {
    font-size: 36px;
    color: #282435;
    letter-spacing: -0.1px; }

.title-graf {
  font-size: 20px; }
  .title-graf span {
    color: #996699;
    padding-top: 14px;
    display: block; }
  .title-graf p {
    color: #000;
    padding-bottom: 50px; }

.graf {
  padding-left: 15px; }
  .graf button {
    font-weight: 800;
    font-size: 16px;
    background-color: #c732cb;
    margin: 24px auto;
    text-align: center;
    padding: 11px 33px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3); }
    .graf button:hover {
      background-color: #bd26bf; }

.choice-graf {
  width: 83%;
  background-color: #fff0ff;
  padding: 6px 0;
  min-height: 50px;
  font-weight: 500; }
  .choice-graf p {
    color: #000;
    font-size: 19px;
    float: left;
    padding-left: 40px;
    position: relative;
    letter-spacing: -1.3px; }
  .choice-graf tt {
    color: #a81ab3;
    font-size: 16px;
    font-weight: 800;
    padding-right: 23px;
    padding-top: 2px; }

.icon-nine:after {
  position: absolute;
  top: 3px;
  left: 8px;
  content: '';
  background-image: url("../img/icon-nine.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 24px; }

.icon-bol:after {
  position: absolute;
  top: 5px;
  left: 8px;
  content: '';
  background-image: url("../img/icon-bol.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px; }

.icon-stars:after {
  position: absolute;
  top: 2px;
  left: 8px;
  content: '';
  background-image: url("../img/icon-stars.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px; }

body .choice-graf_b {
  background-color: #fff; }

.choice-slider {
  margin-top: 23px;
  min-height: 334px !important; }

body .lSSlideWrapper {
  min-height: 334px !important;
  padding-left: 20px; }

.lSSlideOuter .lSGallery li img, .lSSlideOuter .lightSlider > * img {
  width: 100%;
  height: 100%; }

body .lSSlideOuter {
  padding-left: 100px !important;
  padding-right: 5px !important; }

.lSSlideOuter.vertical .lSGallery {
  left: 0; }

.lSSlideOuter .lSPager.lSGallery li {
  margin-bottom: 17px !important;
  height: 63px !important;
  width: 81px !important; }

.lSSlideOuter .lSPager.lSGallery img {
  height: 100%; }

body .lSSlideOuter.vertical .lSGallery {
  height: 334px !important;
  width: 83px !important; }

.lSSlideOuter.vertical .lSGallery {
  left: 20px;
  margin-top: 15px; }

.lSSlideOuter.vertical .lSAction > .lSNext {
  display: none; }

.lSSlideOuter.vertical .lSAction > .lSPrev {
  display: none; }

body .lslide {
  height: 334px !important; }

.last-choice {
  margin-bottom: 20px; }

.why {
  background-color: #f8fafa; }

.sky-zag {
  text-align: center;
  font-size: 72px;
  font-weight: 300;
  color: #333333;
  margin-top: 35px;
  letter-spacing: 1.5px;
  position: relative; }
  .sky-zag:after {
    position: absolute;
    left: 30%;
    bottom: -31px;
    content: '';
    background-image: url("../img/star-f.png");
    background-repeat: no-repeat;
    width: 508px;
    height: 9px; }

.positive-qualities {
  margin-top: 80px;
  margin-bottom: 56px; }

.item-pos {
  text-align: center;
  padding-right: 18px;
  padding-top: 18px;
  margin-bottom: 96px; }
  .item-pos p {
    font-size: 18px;
    color: #333333;
    line-height: 23px;
    padding-top: 50px;
    letter-spacing: 0.7px; }

.item-pos_t {
  padding-top: 10px;
  padding-right: 0px; }

.item-pos_h {
  padding-top: 0px;
  padding-right: 0px; }

.item-pos_f {
  padding-top: 11px;
  padding-right: 0px;
  padding-left: 24px; }

.item-pos_s {
  padding-top: 39px;
  padding-left: 39px; }
  .item-pos_s p {
    letter-spacing: -0.1px; }

.star {
  background-image: url("../img/bg-stars.jpg");
  background-repeat: no-repeat;
  background-position: center; }

.sky-zag-star {
  font-size: 54px;
  font-weight: 300;
  margin-top: 79px;
  letter-spacing: 1.5px;
  margin-bottom: 84px; }

.amenities {
  background-image: url("../img/bg-pip.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.amenities-se {
  background-image: url("../img/bg-se.jpg"); }

.amenities-in {
  background-image: url("../img/bg-che.jpg"); }

.amenities-mon {
  background-image: url("../img/bg-hen.jpg"); }

.all-amenities {
  text-align: center;
  color: #fff;
  padding-top: 305px;
  padding-bottom: 9px; }
  .all-amenities p {
    font-size: 20px;
    padding-top: 49px;
    letter-spacing: 1.2px; }
  .all-amenities button {
    font-weight: 800;
    font-size: 16px;
    background-color: #c02ac3;
    text-align: center;
    padding: 12px 34px;
    margin-top: 43px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-bottom: 100px;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.3); }
    .all-amenities button:hover {
      background-color: #bd26bf; }
  .all-amenities a {
    display: inherit;
    margin-top: 146px;
    padding-right: 3px;
    margin-bottom: 30px; }

.zag-amenities {
  position: relative; }
  .zag-amenities:after {
    position: absolute;
    left: 43%;
    bottom: -30px;
    width: 173px;
    height: 11px;
    background-image: url("../img/star-p.png");
    content: ''; }
  .zag-amenities h3 {
    font-size: 72px;
    font-weight: 300;
    letter-spacing: 1.6px; }

.zag-amenities-height h3 {
  line-height: 70px; }

.production {
  text-align: center; }
  .production p {
    font-size: 20px;
    padding-bottom: 150px;
    color: #333333;
    letter-spacing: 1.2px; }

.sky-zag-client {
  font-size: 54px;
  font-weight: 300;
  margin-top: 58px;
  letter-spacing: 1.2px;
  margin-bottom: 72px; }

.client-dil {
  text-align: center;
  padding-bottom: 85px; }

.production-slider {
  position: relative; }

body .production-slider .lSSlideOuter {
  padding-left: 0 !important;
  padding-right: 0 !important; }

body .production-slider .lSSlideOuter .lSPager.lSGallery {
  margin: 0 auto;
  width: 100% !important;
  position: absolute;
  top: -134px;
  left: 6%; }

body .production-slider .lSSlideOuter .lSPager.lSGallery li {
  margin-right: 15px !important;
  max-width: 176px !important;
  width: 100% !important;
  min-height: 160px; }

body .production-slider .lSSlideWrapper {
  padding-left: 0;
  min-height: auto !important;
  padding-top: 50px; }

body .production-slider .lslide {
  max-height: 714px !important;
  height: 714px !important; }

body .production-slider .lSAction > a {
  background-image: none; }

body .production-slider .lSAction > .lSNext {
  background-image: url("../img/slider-arrow.png");
  width: 32px;
  height: 61px;
  right: 70px; }

body .production-slider .lSAction > .lSPrev {
  background-image: url("../img/slider-arrow1.png");
  width: 32px;
  height: 61px;
  left: 70px; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrapper {
    width: auto; }
  .pad {
    padding: 50px 5px !important; }
  footer {
    text-align: center; }
    footer .wrapper {
      width: auto; }
    footer ul {
      float: none;
      display: inline-block;
      text-align: center; }
      footer ul li {
        margin-bottom: 10px;
        margin-right: 0;
        float: none; }
    footer .gs {
      float: none;
      display: block; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .pad {
    padding: 20px 5px !important; } }

/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
